# Generated JHOVE output from docker testing
tekst_*_no_jhove/metadata/other/jhove/
tekst_*_no_jhove/representations/primary/metadata/technical/jhove/
tekst_*_no_jhove/representations/access/metadata/technical/jhove/
tekst_*_no_jhove/representations/access/metadata/other/jhove-ocr/
t
