target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NiFi Docker ###
nifi-docker/output/*
!nifi-docker/output/README.md
nifi-docker/conf/*
!nifi-docker/conf/flow.json.gz
!nifi-docker/conf/nifi.properties
