target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Test files ###
pliktmonografi*
METS.xml
*.db
*.md5

### Other ###
.sdkmanrc
