name: Verify Project / Upload Release Version
run-name: >
  ${{ github.actor }} ${{ startsWith(github.ref, 'refs/tags/') && 'is releasing a package' || 'is verifying the project' }}

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:
  build_maven_pipeline:
    uses: NationalLibraryOfNorway/tekst-workflows/.github/workflows/maven-verify-and-upload-artifact.yml@feat/artifactory-support
    with:
      JDK_VERSION: 21
      MAVEN_VERSION: 3.9
      USE_MAVEN_SETTINGS_FILE: true
      UPLOAD_TO_ARTIFACTORY: true
    secrets:
      VAULT_URL: ${{ secrets.NB_VAULT_URL }}
      VAULT_SECRET_PATH: ${{ secrets.TEKST_VAULT_SECRET_PATH }}
      VAULT_ROLE_ID: ${{ secrets.TEKST_VAULT_ROLE_ID }}
      VAULT_SECRET_ID: ${{ secrets.TEKST_VAULT_SECRET_ID }}
      S3_NB_HOST: ${{ secrets.S3_NB_CACHE_HOST }}
      S3_NB_ACCESS_KEY: ${{ secrets.S3_NB_CACHE_ACCESS_KEY }}
      S3_NB_SECRET_KEY: ${{ secrets.S3_NB_CACHE_SECRET_KEY }}
      S3_NB_CACHE_BUCKET: ${{ secrets.S3_NB_CACHE_BUCKET }}
